* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}

button {
  background-color: unset;
  border: none;
  cursor: pointer;
  margin: 0;
}
